@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf")
}

body {
  font-family: "OpenSans";
}

.hidden {
  display: none;
}

.container {
  width: 1179px;
  margin: 0 auto;

  button.radioButton {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
}